* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body{
    background-color: black;
}


.navbar {
    display: flex;
    padding: 20px;
    margin-top: 0%;
}

nav {
    flex: 1;
    text-align: right;
}


nav ul {
    display: inline-block;
    margin-right: 0%;
}


nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(181, 218, 18);
    align-items: center;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    width: 100%;
    height: 130px;
    margin: auto;
    padding: left 25px;
    padding: right 25px;
    background-color: brown;
}

.small-container {
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}